html body{
    margin: 0;
}
.z{
    color: white;
    padding-left: 125px;
    text-align: center;


}
.flex{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.item{
    display: block;
    block-size: border-box;
    width: 25%;

 
    
   
}
.ki{
    margin: 0;
    text-align: center;
    color: black;
    background-color: rgb(141, 206, 170);
    border: 3px solid rgba(207, 117, 39, 0.842);
    width: 20%;
}
.lam{
    height:100px;
	width:100px;
	border-radius:100px;
	margin-right:10px;
    padding: 11px;
}
header{
    position: relative;
    background-color: rgb(15, 2, 2);
    display: flex;
    
}
.bem{
    position: absolute;
    top: 3px;
    left: 0;
    height: 60px;
    width: 60px;
    border-radius: 100%
}
.button1{
    height: 30px;
    align-content: end;
}
.input{
    height: 30px;
}